.directions{
    display: flex;
    flex-direction: row;
    background-color: white;
    }
    .options{
        padding: 20px;
        margin: 0px 20px 0px 20px;
        width: 15%;
        text-align: center;
    }
    /* .options:hover{
      background-color: black;
    } */
    .options:active{
    background-color: red;
    }
    .options:visited{
        background-color: blue;
    }
    .options a{
        color:black;
    }
    