body{
    margin: 0;
}
.login_form {
display: flex;
flex-direction: column;
margin-left: 28%;
margin-top: 8%;
border-radius: 2%;
width: 600px;
height: 300px;
background-color: #51C4D3;
}
.login_body {
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 10px 25px 25px 25px;
}
.login_block {
display: flex;
flex-direction: column;
justify-content: center;
}

#login_Mail,
#login_Gen,
#login_Problem {
color: #132C33;
font-family: Poppins, sans-serif;
}
.login_links{
    display: flex;

}
#login_signup{
background-color: #126E82;
margin-left: 25px;
width: 100px;
height: 30px;
border: none;
color: white;
border-radius: 5px;

}
#login_signup a{
    color: white;
}
#login_signup p{
    text-align: center;
    align-items: center;
}

#login_mail,
#login_gen,
#login_select {
height: 33px;
border-radius: 4px;
border: none;
width: 240px;
}
#login_submit {
background-color: #126E82;
margin-left: 25px;
width: 100px;
height: 30px;
border: none;
color: white;
border-radius: 5px;

}
.login_header h2 {
margin-top: 20px;
font-family: Poppins, sans-serif;
font-size: 30px;
color: #132C33;
}
